extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} Yearly Art - 2018 - Cooper Pierce

block contents

    article.u-container

        h1 Inman Park Festival Yearly Art - 2018

        p This year's artist is Cooper Pierce. Click/touch the thumbnail below to see a larger version.
        
        a(href="/assets/img/2018/festival-artwork-large.png")
            img(src="/assets/img/2018/festival-artwork.png")

        //- h2 Interview with Cooper Pierce
        //- 
        //- dl.Questionnaire
        //-     dt Where are you from, originally?
        //-     dd Saigon, Vietnam
