extends ../templates/layout.jade

block title
    title #{globals.ipf.title} | Purchase Made - Festival Tickets

block contents

    article.u-container

        h1 Paypal Transaction Complete

        p Thank you for your purchase. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com to view details of this transaction.

        h2 Tour of Homes Tickets

        p Please print the first page of the PayPal receipt you were sent via email showing your name and the number of tickets purchased. Bring this page to one of our Ticket Sales booths to exchange for your Tour of Homes Ticket(s).
        
        h2 Butterfly Ball Tickets
        
        p Please print the first page of the PayPal receipt you were sent via email showing your name, the number of tickets purchased and any drink ticket purchases you've made. Bring this page to the Butterfly Ball for proof of payment.

        p If you paid for your purchase with a credit card, your purchase will show on your credit card statement as <em>"PAYPAL *IP FESTIVAL"</em>.
