h2 Buying Tickets at Neighborhood Locations

p Tickets can also be purchased in-person at the following neighborhood locations. These locations accept only checks or cash for ticket purchases.

ul
    li Little Five Points Pharmacy (<a href="https://goo.gl/maps/dPj7YMSc2zx">484 Moreland Avenue</a>)
    li Nandina Home and Design (<a href="https://goo.gl/maps/4PRd7FtG4JL2">245 N. Highland Avenue</a>)
    li The Collection (<a href="https://goo.gl/maps/ru6kfvxbbNx">723 Lake Avenue</a>)

p Starting at noon on Friday #{globals.ipf.date.friday.date}, tickets at these locations will increase to $#{globals.tour.cost.door} and be available through the end of Festival.

h2 Important Details

ul
    li One child under 12, no ticket required, may accompany and be supervised by each ticketed adult.
    li If you buy tickets online, you must print out your PayPal confirmation and bring it to Festival in order to exchange it for your Tour of Homes ticket(s).
    li Tour tickets are valid the entire weekend of festival but each house can only be visited once per ticket.
    li Discounted Home tour tickets ($5.00 off) are available until noon on the Friday Festival starts.
