extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Arts & Crafts Market

block contents

    mixin secondaryNav(globals.markets.nav, "arts & crafts")

    article.u-container

        h1 Arts & Crafts Market
        
        p Vendors for this year's festival will be listed soon.
