extends ../templates/layout.jade

block title
    title #{globals.ipf.title} | Butterfly Ball

block contents

    .u-container

        h1 Butterfly Ball

        p Butterfly Ball is the traditional kick-off party to open Festival. It will be held on Friday, #{globals.ipf.date.friday.date}, from #{globals.ipf.date.butterfly.start} to #{globals.ipf.date.butterfly.end} this year.
