.Form--contact {
    width: 100%;

    @media screen and (min-width: $bp-md) {
        width: 75%;
    }

    input, textarea {
        width: 100%;
    }

    input[type="checkbox"] {
        width: 1em;
    }

    input[type="submit"] {
        width: 7em;
        padding: 1em 2em;
    }

    textarea {
        height: 6em;

        @media screen and (min-width: $bp-md) {
            height: 9em;
        }
    }
}
