.TourHomes {
    
    list-style: none;

    > li {
        margin-bottom: 2em;
        padding: 0;
        border-top: 1px dashed #aaa;
    }

    h3 {
        > small {
            display: block;
        }
    }
}
