.Banner-dates {
    padding: 0.5em;
    background: $brand-yellow;
    color: $brand-black;
    text-align: center;
    font-family: $base-font-family-serif;

    @media (min-width: $bp-md) {
        div {
            display: inline-block;
            &:last-child {
                margin-left: 0.5em;
                padding-left: 0.5em;
                border-left: 1px solid $brand-black;
            }
        }
    }
}