.PromotionItemHero {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 3em;
        margin-top: 1.75rem;
    }

    @media screen and (min-width: $bp-md) {
        align-items: stretch;
        flex-direction: row;
    }
}

.PromotionItemHero-image {
    @media screen and (min-width: $bp-md) {
        flex-basis: 66.6666%;
    }

    img {
        display: block;
        width: 100%;
    }
}

.PromotionItemHero-text {
    position: relative;

    > section {
        padding-left: $promotion-padding-sm;
        padding-right: $promotion-padding-sm;
    }

    @media screen and (min-width: $bp-md) {
        flex-basis: 33.3333%;

        > section {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 3em;
        }

        .ArrowNav {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
