.PromotionGrid {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: $bp-md) {
        margin: 0 auto;
        align-items: stretch;
        flex-direction: row;
    }
}

.PromotionItem {
    position: relative;
    margin-bottom: 0;

    > section {
        padding-left: $promotion-padding-sm;
        padding-right: $promotion-padding-sm;
    }

    h3 {
        font-size: 1.75em;
    }

    &.alt-primary, &.alt-secondary {
        padding-bottom: $promotion-padding-sm;

        h3 {
            font-size: 1.5em;
            font-family: $base-font-family-sans-serif;
            font-style: normal;
            font-weight: normal;
            text-transform: uppercase;
            color: $brand-white;
            letter-spacing: 0.1em;
        }

        a {
            text-decoration: none;
            background-color: transparent;
        }
    }

    &.alt-primary {
        background-color: $brand-green;

        a:hover, a:focus {
            color: darken($brand-green, 30%);
        }
    }

    &.alt-secondary {
        background-color: $brand-yellow;

        a:hover, a:focus {
            color: darken($brand-yellow, 30%);
        }
    }

    &.alt-tertiary {
        // border: 1px solid rgba(0, 0, 0, 0.1)
        background-color: rgba(0, 0, 0, 0.05);
    }

    @media screen and (min-width: $bp-md) {
        width: 33.3333%;

        > section {
            padding-left: 2em;
            padding-right: 2em;
        }

        h3 {
            font-size: 1.5em;
        }

        .ArrowNav {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}


.PromotionItemSolo {
    display: flex;
    flex-direction: column;
    margin: 0;

    @media screen and (min-width: $bp-lg) {
        margin: 0 auto;
        align-items: stretch;
        flex-direction: row;
    }
}

.PromotionItemSolo-header {
    padding-top: $promotion-padding-sm;
    padding-right: $promotion-padding-sm;
    padding-left: $promotion-padding-sm;
    background-color: $brand-green;

    h3 {
        margin-top: 0;
        padding-right: 2em;
        font-family: $base-font-family-sans-serif;
        font-size: 1.75em;
        color: $brand-white;
    }

    @media screen and (min-width: $bp-lg) {
        width: 33.3333%;

        h3 {
            padding-top: 1em;
            padding-right: 0;
        }
    }
}

.PromotionItemSolo-content {
    padding-right: $promotion-padding-sm;
    padding-left: $promotion-padding-sm;
    padding-bottom: $promotion-padding-sm;
    background-color: $brand-green;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @media screen and (min-width: $bp-lg) {
        width: 66.6666%;
        padding-top: $promotion-padding-sm;
        background-color: $brand-white;

        ul {
            font-size: 1.25em;
        }

        li > small {
            display: block;
        }
    }
}
