extends ../templates/layout.jade

block pageVars
    - var selectedNav = 'booths'

block title
    title #{globals.ipf.title} | Booths

block contents

    mixin secondaryNav(globals.markets.nav)

    article.u-container

        h1 Arts & Crafts Show and Street Vendors
        
        p If you're looking for gifts, new clothes, art for your house or just about anything else, you are likely to find what you're looking for at one of the many vendor booths lining the tree-shaded streets during the Inman Park Festival.
        
        h2 Booths
        
        p 
            | The 
            = ' '
            a(href="/booths/arts-crafts-market") Arts & Crafts Market
            = ' '
            | is a jury-selected group of more than 150 artists showcasing their work in a variety of media including sculpture, painting and photography.
        
        p 
            | The 
            = ' '
            a(href="/booths/street-market") Street Market
            = ' '
            | houses more than 250 booths of vendors selling antiques, handcrafted wares, clothing and a large variety of other items.

        p 
            a(href="/booths/community-corner") Community Corner
            = ' '
            | booths showcase a variety of non-profit organizations where you can learn about and help out groups doing important work locally and across the states.
        
        p Together they comprise one of the largest street markets in the Southeast!
        
        //- h2 Become a Vendor
        
        //- p 
        //-     | If you are interested in being a vendor for the #{globals.ipf.date.year} festival, 
        //-     = ' '
        //-     a(href="/booths/become-an-exhibitor") visit the Become an Exhibitor page for more info.
