.image--big-house {
    background-image: url(/assets/img/fpo/big-house.jpg);
    background-size: cover;
    background-position: center center;
}

.image--art-2017 {
    background-image: url(/assets/img/2017/home-art-banner.jpg);
    background-size: cover;
    background-position: center center;
}
