// COLOR FAMILY
$brand-white: rgb(245, 245, 245);
$brand-yellow: rgb(254, 202, 56);
$brand-green: rgb(159, 199, 90);
$brand-grey-dark: rgb(45, 45, 45);

// TYPOGRAPHY
$base-font-size: 16px;
$base-font-color: $brand-grey-dark;
$base-font-color-inverse: $brand-white;
$base-font-family-sans-serif: 'Droid Sans Mono', sans-serif;
$base-font-family-serif: 'Playfair Display', serif;

// BREAKPOINTS
$bp-sm: 320px;
$bp-md: 768px;
$bp-lg: 1024px;
// $bp-xl: 1280;
$bp-sm-max: $bp-md - 1px;
$bp-md-max: $bp-lg - 1px;


// SITE CONTAINER DIMENSIONS
$site-max-width: 940px;
$site-hero-width: 1024px;
