extends ../templates/layout.jade

block title
    title #{globals.ipf.title} | Paypal Test

block contents

    article.u-container

        h2 Buying Tickets

        p Tickets are $15 each. Group tickets are available at 10 tickets for $120.

        p <strong>Important Note:</strong> When your transaction has been completed, a receipt for your purchase will be emailed to you. 
        
        p Please print the first page of the PayPal receipt sent via email showing your name and the number of tickets purchased. Bring this page to one of our Ticket Sales booths to exchange for your Tour of Homes Ticket(s).

        .PaypalItems

            .PaypalItem
                span Tour of Homes Individual Tickets: $15 each
                form(target='paypal', action='https://www.sandbox.paypal.com/cgi-bin/webscr', method='post')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='W6T5H58HHMSQ8')
                    input(type='image', src='https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                    img(alt='', border='0', src='https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')

            .PaypalItem
                span Tour of Homes Group Tickets: $120 for 10 tickets
                form(target='paypal', action='https://www.sandbox.paypal.com/cgi-bin/webscr', method='post')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='FCKFDWAX2J3DS')
                    input(type='image', src='https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                    img(alt='', border='0', src='https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')

        .PaypalViewCart
            form(target='paypal', action='https://www.sandbox.paypal.com/cgi-bin/webscr', method='post')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHBwYJKoZIhvcNAQcEoIIG+DCCBvQCAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGActi2npDJJ7sDjuXzWGbDO+5EKpqTAnCN5v8W+Awya3l2ICiZTTlMB6azIhXDHRwZBQhn6P8PcHKpACZfLpdH+f/6NFxbmvGLBGqwtqh/VBBfmlC56+MHUhApuvYLcfd7GbA5sshEGO/HbMQYoR+65PtRTxsf6/TXmZ6sxcsuXRoxCzAJBgUrDgMCGgUAMFMGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIVhF2O+y01x2AMPGRVd31QXxok4h/U+wXtYLNzayIbb2DfqWHwS6L/InsXtQAyW0UFLB0pzdkS+Mr9qCCA6UwggOhMIIDCqADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwNDE5MDcwMjU0WhcNMzUwNDE5MDcwMjU0WjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC3luO//Q3So3dOIEv7X4v8SOk7WN6o9okLV8OL5wLq3q1NtDnk53imhPzGNLM0flLjyId1mHQLsSp8TUw8JzZygmoJKkOrGY6s771BeyMdYCfHqxvp+gcemw+btaBDJSYOw3BNZPc4ZHf3wRGYHPNygvmjB/fMFKlE/Q2VNaic8wIDAQABo4H4MIH1MB0GA1UdDgQWBBSDLiLZqyqILWunkyzzUPHyd9Wp0jCBxQYDVR0jBIG9MIG6gBSDLiLZqyqILWunkyzzUPHyd9Wp0qGBnqSBmzCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAVzbzwNgZf4Zfb5Y/93B1fB+Jx/6uUb7RX0YE8llgpklDTr1b9lGRS5YVD46l3bKE+md4Z7ObDdpTbbYIat0qE6sElFFymg7cWMceZdaSqBtCoNZ0btL7+XyfVB8M+n6OlQs6tycYRRjjUiaNklPKVslDVvk8EGMaI/Q+krjxx0UxggGkMIIBoAIBATCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzAzMjQwMTMzMzZaMCMGCSqGSIb3DQEJBDEWBBTpfMHN+NjQ1fAiUUazB1TiBmMLYzANBgkqhkiG9w0BAQEFAASBgJ6mFKwUku7ygzhfVD+oxqq9dslzgJW/I1rz4YNLiv7XWGKWxy4fYh0fDX7ztkRVoP1zSIWcLOUN3w/Ll4DOCH6m3FRqu9mFj+SuWo1YzKsn1od5vkCMmOtYK0bfHWRHS8OX44mdO1AGG9qnR27NCJao4ucuB4888V20MCfMg6H+-----END PKCS7-----\
                    ')
                input(type='image', src='https://www.sandbox.paypal.com/en_US/i/btn/btn_viewcart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                img(alt='', border='0', src='https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')

        hr


        p Here are the pages you'll see after you make a purchase with Paypal when you return to this site:

        p
            a(href="/payments/tour-of-homes") After buying Tour of Homes tickets
            = ' | '
            a(href="/payments/butterfly-ball") After buying Butterfly Ball tickets


        hr


        h2 Real Buttons

        p Do not use these buttons unless you are prepared to make a real financial transaction with a real credit card or real Paypal account.

        .PaypalItems
            //- Tour of Homes Individual Tickets - Advance Purchase - $15/each
            .PaypalItem
                span Tour of Homes Individual Tickets: $15 each
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='RNBNA4ADCKUYU')
                    input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
        
        .PaypalViewCart
            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAxc+MF/HzMN2MtrYxqtD9d4E6A1vVTz4hcmJrQ/8MKeOchDJb1v0xXEs3Wdt92UNZzv+xLXWxdOr+c7+TWV5VAkkfAhAEdt7OJo7JYRIbpwpFADUxseoxfsxnhyNGSNQEhRP/wjYN8+qV/+6p/9Q4ebAftJV8AzPLJZHpk74NqqjELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAiy7Qo7CUpa8IAw2j3qlG0kbe3P73YWYStH1Joa+b3cLyjtWPuQcj6A8uKzo4CJ3FGyx3GBRdReckXZoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcwMzI0MDE0OTI3WjAjBgkqhkiG9w0BCQQxFgQUEQMzlN+u0K62HVqp931lr0ZqssQwDQYJKoZIhvcNAQEBBQAEgYCDCHlEq8OILHtusbPzkSC5fIvqn9GD/5wM/KIkXQsSs70Jw1q2aYac9w3C7v7v1xZiB6NKOteJGg1JIRi2oBUZaUq8CzvuLmBNttbW3QU8ANj7oKFOOg3DE/EcJfXcyTWcd942Xw88IfsAcVtVgat0sjkaz4AFFNvMjqABPPrjEA==-----END PKCS7-----\
                ')
                input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

