* { box-sizing: border-box }

body {
    margin: 0;
    padding: 0;
    font-family: $base-font-family-sans-serif;
    font-size: $base-font-size;
    color: $base-font-color;
    background: #fff;
}

main {
    // hackery garbage until we have all content in -
    // keeps page from being too short.
    min-height: 300px;
    @media (min-width: 768px) {
        min-height: 600px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family-serif;
    font-style: italic;
    font-weight: normal;
    line-height: 120%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.75em;
}

h3 {
    font-size: 1.25em;
    margin: 1.5em 0 0.75em;
}

h4 {
    font-size: 1em;
    margin: 0.25em 0 0.2em;
}

ul {
    margin: 0.5em 0 1em;
}

li {
    margin-bottom: 0.5em;
}


dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1em 0;
}


p {
    line-height: 1.5em;
}

a {
    color: rgb(85, 132, 46); // green
    text-decoration: none;

    &:visited {
        color: rgb(50, 93, 15);
    }

    &:hover {
        text-decoration: underline;
    }
}

blockquote {
    margin: 1.5em 2em;
    font-family: $base-font-family-serif;
    font-size: 1.25em;

    &:before {
        content: "\201C";
        display: inline-block;
        margin-left: -0.5em;
        margin-right: 0.1em;
    }
    &:after {
        content: "\201D";
    }
}
