footer {
    width: 100%;
    margin-top: 3em;
    padding: 1em 0 12em;
    background: rgb(230, 230, 230);

    p {
        font-size: 0.75em;
        color: #777;
    }
}

.NavFooter a {
    margin: 1em 0 0;
    font-size: 0.75em;
}

.sponsor-logos {
    margin: 0 0 2em 0;

    a {
        display: inline-block;
        margin-right: 0.5em;
        padding: 1em 2em;
        font-size: 0.75em;
        border: 2px solid #999;
    }
}
