.Footer {
    width: 100%;
    padding: 2em 0 12em;
    background: $brand-grey-dark;
    color: rgb(114, 114, 114);

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    a {
        color: $base-font-color-inverse;
        &:hover, &:focus, &.is-selected {
            background-color: darken($brand-grey-dark, 30%);
        }
    }

    p {
        font-size: 0.6em;
    }

    @media (max-width: $bp-lg) {
        min-height: 30em;
    }
}

.Footer-sponsors {
    margin: 0 0 2em 0;
    // text-align: center;

    a {
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.75em;
        padding: 0.5em 2em;
        font-size: 0.75em;
        border: 2px solid #999;
        border-radius: 1em;
    }
}

.Footer-nav {
    margin: 0 0 1.5em 0;
    padding: 0 2em;
    font-size: 0.6em;

    a {
        margin-top: 0.5em;
    }

    @media (max-width: $bp-sm-max) {
        a:nth-child(even) {
            border-right: none;
            // color: blue;
        }
    }
}

.fineprint {
    letter-spacing: 0;
}
