.Hero {
    margin: 0 auto 2em;
    // padding: 6em 3em;
    max-width: $site-hero-width;
    background: #ccc;

    &.owl-carousel {
        background: none;
    }

    @media screen and (min-width: $bp-md) {
        // padding: 9em 6em;
    }

    > p {
        font-style: italic;
    }
}
