.u-container {
    margin: 0 auto;
    padding: 0 1.5em;
    max-width: $site-max-width;

    @media (min-width: $bp-lg) {
        padding: 0;
    }
}

.u-container-md {
    @media (min-width: $bp-md) {
        margin: 0 auto !important;
        padding: 0 !important;
        max-width: $site-max-width;
    }
}

.u-clear:after {
    // clear floats
    content: '';
    display: table;
    clear: both;
}

.u-blockCentered {
    display: block;
    text-align: center;
}
