.u-container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: $site-max-width;

    @media (min-width: $bp-lg) {
        padding: 0;
    }
}

.u-clear:after {
    // clear floats
    content: '';
    display: table;
    clear: both;
}
