extends ../templates/layout.jade

block title
    title #{globals.ipf.title} Yearly Art

block contents

    article.u-container

        h1 Inman Park Festival Yearly Art

        p Each year a call to artists is sent out to the community to request artwork for the forthcoming festival. After receiving many submissions from local artists, the festival committee selects the winner whose art will be used in a variety of marketing materials including the Tour of Homes brochure, the website, staff t-shirts and t-shirts to be sold to festival visitors.
        
        h2 This Year's Winner
        
        p 
            | Read about this year's winner 
            = ' '
            a(href="") here.
        
        h2 Past Year's Winners
        
        ul
            li 
                a(href="") 2016 - Cooper Pierce
            li 
                a(href="") 2015 - 
            li 
                a(href="") 2014 -
